html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	text-align: center;
	height: 15vh;
}

section {
	padding: 30px 30px 0 30px;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

#code-nodes {
	width: 300px;
	height: 75vh;
	overflow: scroll;
}

#editor {
	width:100%;
	height:75vh;
}
